:root {
  --blueColor: rgb(121, 184, 243);
  --lobbyBackgroundColor: rgba(1, 3, 19, 0.5);
  --UIBackground: url(./assets/images/Sonar_Background.png);
  --UIBackground2: url(./assets/images/Sonar_Background2.png);
  --UIBackground3: url(./assets/images/Sonar_Background.png);

  /* colors */
  --blue: blue;
  --darkblue: rgb(2, 2, 126);

  --yellow: yellow;
  --darkYellow: rgb(132, 141, 0);

  --green: green;
  --darkGreen: rgb(4, 66, 22);

  --pink: pink;
  --darkPink: rgb(182, 65, 236);

  --red: red;
  --darkRed: rgb(88, 6, 6);

  --brown: brown;
  --darkBrown: rgb(68, 41, 1);

  --black: black;

  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

#root {
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.questionBox {
  grid-area: 1 / 1 / 5 / 3;
  background-color: black;
  border: 2px solid black;
  padding-left: 20px;
  padding-right: 10px;
  font-size: 2rem;
  color: white;
  user-select: none;

}

.button {
  font-size: 16px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  border: 0.3em solid var(--blueColor);
  border-radius: 0.5em;
  width: 12em;
  height: 5em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  /* line-height: 3em; */
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  margin: 1em;
}

/*#region glow*/
.button-glow {
  width: 12em;
  height: 5em;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  border: none;
  outline: none;
  color: #fff;
  background-color: rgb(0, 0, 0, 0.3);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border: 3px solid var(--blueColor);
  border-radius: 0.5em;
  transition: 0.5s;
  margin: .5em;
}

.button-glow:before {
  content: '';
  background: linear-gradient(45deg, rgb(121, 184, 243), white);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.button-glow:active {
  color: rgb(0, 0, 0, 0.3);
}

.button-glow:active:after {
  background: transparent;
}

.button-glow:hover:before {
  opacity: 1;
}

.button-glow:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.2);
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

/*#endregion end glow */

.homepage {
  color: white;
  background-image: var(--UIBackground);
  background-color: black;
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 0;
}


/*#region animation*/

.changeAnimation {
  animation-name: change;
  animation-duration: 4s;
  animation-timing-function: linear;
  /* animation-delay: 1s; */
  animation-iteration-count: infinite;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
}

@keyframes change {
  0% {
    background-image: var(--UIBackground);
  }

  50% {
    background-image: var(--UIBackground2);
  }

  100% {
    background-image: var(--UIBackground);
  }

}

/*#endregion end animation */

/*#region lobby*/
.lobby {
  background-color: purple;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row;
}

.leftContainer {
  background-color: lightcoral;
  display: flex;
  height: 100%;
  width: 70%;
  flex-flow: column;
  box-sizing: border-box;
  padding-right: 15px;
}

.rightContainer {
  background-color: lightblue;
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 30%;
  box-sizing: border-box;
}

.playerSelectorContainer {
  background-color: rgba(199, 43, 43, 0.795);
  height: 80%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 10px 10px 10px 10px;
  gap: 5px;
}

.startGameContainer {
  display: flex;
  background-color: lightpink;
  height: 20%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.playerBoxContainer {
  background-color: rebeccapurple;
  height: 100%;
  width: 100%;
}

.playerBox {
  height: 150px;
  width: 150px;
  background-color: white;
}

.evenPlayer {
  display: flex;
  justify-content: flex-end;
  /* padding-top: 50%; */
}

.oddPlayer {}

.playerList {
  height: 60%;
  width: 100%;
  background-color: aliceblue;
}

.chatBox {
  height: 40%;
  width: 100%;
  background-color: bisque;
}

/*#endregion lobby*/

.gameplay {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 0;
  grid-template-rows: repeat(4, 1fr) 0;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
  width: 100%;
}

.playerBoardContainer {
  display: grid;
  grid-area: 2 / 1 / 5 / 3;
  grid-template-rows: 1fr 1fr 1fr;
  border: 2px solid green;
  background-color: green;
}

.playerContainer {
  display: grid;
  grid-template-columns: .3fr 1fr 1fr 1fr;
  border: 2px solid black;
  box-sizing: border-box;
  background-color: aqua;
}

.playerNameContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  user-select: none;
}

.playerName,
.score {
  bottom: 0px;
  font-size: 2.5rem;
  height: 50%;
  box-sizing: border-box;
  background-color: blue;
  border: 1px solid white;
  user-select: none;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  height: 100%;
  width: 100%;
  background-color: purple;
}

.card {
  display: flex;
  background-color: white;
  height: 80%;
  z-index: 1;
  width: 100%;
  font-size: 6rem;
  border: 2px solid black;
  justify-content: center;
  align-self: flex-end;
  align-items: center;
  box-sizing: border-box;
  -webkit-text-stroke-width: 1px;
  user-select: none;
  border-radius: 15px;
}

.chat {
  grid-area: 1 / 3 / 2 / 5;
  border: 2px solid black;
  box-sizing: border-box;
}

.numberNoteCardContainer {
  grid-area: 2 / 3 / 5 / 5;
  border: 2px solid black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.editButtons {
  background-color: orange;
  height: 20%;
  width: 100%;
}

.numberNoteCard {
  background-color: gray;
  height: 80%;
  width: 100%;
  border: 2px solid white;
  border-radius: 50px;

  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: 0 repeat(7, 1fr) 0;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.numberNoteCard>div {
  height: 100%;
  width: 100%;
  font-size: 4rem;
  grid-area: 8 / 1 / 9 / 3;
  text-align: center;
  line-height: 5rem;
  border-radius: 10px;
  -webkit-text-stroke-width: .3px;
  user-select: none;
}

/*#region colors */
.blk {
  color: var(--black);
  border: 2px solid var(--black);
  -webkit-text-stroke-color: var(--black);
}

.blu {
  color: var(--blue);
  border: 2px solid var(--blue);
  -webkit-text-stroke-color: var(--darkBlue);
}

.bro {
  color: var(--brown);
  border: 2px solid var(--brown);
  -webkit-text-stroke-color: var(--darkBrown);
}

.grn {
  color: var(--green);
  border: 2px solid var(--green);
  -webkit-text-stroke-color: var(--darkGreen);
}

.pnk {
  color: var(--pink);
  border: 2px solid var(--pink);
  -webkit-text-stroke-color: var(--darkPink);
}

.red {
  color: var(--red);
  border: 2px solid var(--red);
  -webkit-text-stroke-color: var(--darkRed);
}

.yel {
  color: var(--yellow);
  border: 2px solid var(--yellow);
  -webkit-text-stroke-color: var(--darkYellow);
}

/*#endregion end colors */